https://www.datacamp.com/tutorial/recommender-systems-python

according to IMDB rating   WR = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C

R is the average rating for the item.
v is the number of votes for the item.
m is the minimum votes required to be listed in the popular items(defined by > percentile 90 of total votes)
C is the average rating across the whole dataset.

In [2]:
import pandas as pd
# import numpy as np
# Load Movies Metadata
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)
# metadata.shape

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:
# C is the average rating across the whole dataset.
C = metadata['vote_average'].mean()
# print(C)

In [4]:
# Calculate the minimum number of votes required to be in the chart, m
m = metadata['vote_count'].quantile(0.90)
# print(m)

In [5]:
# Filter out all qualified movies into a new DataFrame
# these have vote count at least 90% of the movies on the list
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
# q_movies.shape

In [6]:
# total movies
# metadata.shape

In [7]:
#Funtion that compute the weighted rating of each movie
def weighted_rating(x,m=m,C=C):
    v=x['vote_count']
    R=x['vote_average']
    # Calculation based on the IMDB formula
    return (v / (v+m)) * R + (m / (v+m)) * C

In [8]:
# l=list(weighted_ratng(q_movies,m,C)).sort()
# weighted_rating(q_movies,m,C)

In [9]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [10]:
# q_movies['score']
# q_movies

In [11]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 20 movies
top_movies=q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

In [17]:
# final data of top movies
type(top_movies)

pandas.core.frame.DataFrame

In [15]:
import pickle
pickle.dump(top_movies,open('topmovies.plk','wb'))